<section class="skills" id="skills">
  <div class="section__inner">
    <p class="section__eyebrow">TOOLKIT</p>
    <h2 class="section__title">Skills &amp; Technical Stack</h2>

    <div class="skills__grid">
      <div class="group" *ngFor="let g of groups">
        <h3 class="group__label">{{ g.label }}</h3>
        <div class="group__tags">
          <span class="chip" *ngFor="let item of g.items">{{ item }}</span>
        </div>
      </div>
    </div>

    <div class="side-info">
      <div class="side-block">
        <h4 class="side-block__title">Certifications</h4>
        <ul class="side-block__list">
          <li *ngFor="let c of certifications">{{ c }}</li>
        </ul>
      </div>
      <div class="side-block">
        <h4 class="side-block__title">Languages</h4>
        <ul class="side-block__list">
          <li *ngFor="let l of languages">{{ l }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>
